.questions {
	display: block;
	position: absolute;
	top: 80px;
	left: 10%;
	padding: 30px;
	border: 2px solid rgb(113, 239, 248);
	min-width: 500px;
	color: #fff;
	background-color: #232327;
	z-index: 10;
}
